#head {color: darkgreen;
text-align: center;
}
#head2 {color:red;
font-family:Verdana, Geneva, Tahoma, sans-serif}
#flo {color:coral;}
#fru {color:coral;}
#veg {color:coral;}
.art1 {color:chartreuse}
body {background-image: url("https://media.istockphoto.com/id/854337308/photo/blue-pastel-color-textured-background.jpg?s=612x612&w=0&k=20&c=nYkTQC3sZAKJsI-zCLxNryrhAG3gh00Whs0iGWFfcm0=") };
