/* Reset some default styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #db3434;
    color: #fff;
}

#task-container {
    max-width: 400px;
    margin: 20px auto;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    cursor: pointer;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, button {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #db3434;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #57b929;
}