#head1 {color: lightsalmon;
text-align:center;
font-family:Georgia, 'Times New Roman', Times, serif;
padding: auto;
}

.art{background-color: darkcyan;
font-style: italic;
color:gold;
font-size: larger;
}
#footer{background-color: darkgoldenrod;
color: black;
font-size: large;
font-family: cursive;}